body {
    background-color: white;
    padding: 40px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    color: red;
}

p,pre,span {
    color: blue;
}

#myHeader {
    background-color: lightblue;
    padding: 40px;
    text-align: center;
}

.city {
    background-color: tomato;
    color: white;
    padding: 10px;
}